
body {
  font-family: "Arial", sans-serif;
  background-color: #F3F6F8; /* Light Gray background */
  color: #434649; /* Slate Gray for text */
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

button {
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #005587; /* Slightly darker blue for hover */
}

@tailwind base;
@tailwind components;
@tailwind utilities;
